*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
.header{
    display: flex;
}
.header_img img{
    width: 64px;
    display: block;
    margin-left: 95px;
    margin-top: 15px;
}
.navbar{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 2em;
    z-index: 2;
    -webkit-box-align: baseline;
    align-items: baseline;
    transition: transform 0.3s ease-in-out 0s;
}
.navbar a{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-transform: capitalize;
    color: rgb(68, 47, 58);
    text-decoration: none;
    transition: color 0.3s linear 0s;
    margin-right: 38px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
.navbar a:hover{
    border-bottom: 2px solid;
}
.sec1{
    background-color: rgb(98, 69, 84);
    padding-bottom: 0px;   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.sec2{
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1100px;
}
.sec3{
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: center;
    justify-content: center;
    margin-right: 50px;
}
.sec3img{
    width: 100%;
    width: 350px;
    height: auto;
    border-radius: 30px;
}
.sec4{
    display: flex;
    flex: 2 1 0%;
    flex-direction: column;
    align-items: flex-start;
}
.sec5{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
}
.sec5 h1{
    color: rgb(255, 255, 255);
    font-size: 34px;
    font-weight: 500;
    font-weight: 500;
    line-height: 130%;
    margin: 0px 0px 20px;
    letter-spacing: 0.02em;
}
.sec5 p{
    color: rgb(255, 255, 255);
    font-style: normal;
    line-height: 180%;
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
}
.sec5 a{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    cursor: pointer;
    font-style: normal;
    line-height: 180%;
    font-weight: 400;
    font-size: 16px;
}
.sec6{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
}
.sec6 h2{
    color: rgb(255, 255, 255);
    font-style: normal;
    line-height: 160%;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin: 15px 0;
}
.sec7{
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}
.sec7 a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}
.sec7 a img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.sec7 p{
    color: rgb(255, 255, 255);
    font-style: normal;
    line-height: 180%;
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
}
.sec7 p a{
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
    font-style: normal;
    line-height: 180%;
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
    width: 60px;
}
.sec8{
    display: flex;
    flex-direction: column;
}
.sec8img{
    background-color: rgb(98, 69, 84);
    width: 100%;
    height: auto;
}
.sec9{
    background-color: rgb(144, 122, 133);
    flex-direction: column;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.sec9h1{
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin: 0px 0px 40px;
    letter-spacing: 0.02em;
}
.sec10{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    gap: 4%;
    width: 100%;
    max-width: 1100px;
}
.sec11{
    display: flex;
    flex-direction: column;
    place-content: stretch space-between;
    align-items: center;
    background-color: rgb(250, 245, 232);
    border-radius: 30px;
    box-shadow: rgba(98, 69, 84, 0.44) 6px 6px;
    flex-basis: 46%;
    padding: 40px;
    margin-bottom: 50px;
}
.sec11img{
    width: 100%;
    max-width: 375px;
    height: auto;
    border-radius: 30px;
    margin-bottom: 20px;
}
.sec12{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Poppins;
    font-style: normal;
    text-align: center;
    color: rgb(68, 47, 58);
}
.sec12 h2{
    line-height: 150%;
    font-weight: 700;
    font-size: 16px;
    color: rgb(68, 47, 58);
    text-transform: uppercase;
    margin: 0px 0px 10px;
    letter-spacing: 0.02em;
    text-align: center;
}
.sec12 h1{
    line-height: 150%;
    font-weight: 700;
    font-size: 20px;
    color: rgb(68, 47, 58);
    text-transform: uppercase;
    margin: 0px;
    letter-spacing: 0.02em;
    text-align: center;
    
}
.sec12 p{
    line-height: 180%;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    font-weight: 400;
    font-size: 16px;
    color: rgb(68, 47, 58);
    margin: 16px 0;
}
.sec13{
    display: flex;
    width: 198px;
    height: 50px;
    background: rgb(247, 202, 93);
    border-radius: 47px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-family: Poppins;
    color: rgb(68, 47, 58);
    z-index: 1;
    transition: background 0.5s ease 0s;
}
.sec13:hover{
    background: rgb(228, 164, 44);
    cursor: pointer;
}
.sec14{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(250, 245, 232);
    background-image: url(https://www.theshineapp.com/static/media/yellow-corner-blob.34b07d0e.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 80%;
    -webkit-box-align: center;
    align-items: center;
}
.sec15{
    padding-bottom: 50px;
    color: rgb(250, 245, 232);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.sec16{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1100px;
}
.sec17{
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
    margin-right: 50px;
}
.sec17img{
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 30px;
    cursor: pointer;
}
.sec18{
    display: flex;
    flex: 2 1 0%;
    flex-direction: column;
    align-items: flex-start;
}
.sec19{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
}
.sec19h1{
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    color: rgb(68, 47, 58);
    text-align: left;
    line-height: 130%;
    margin: 0px 0px 20px;
    letter-spacing: 0.02em;
}
.sec19p{
    font-style: normal;
    line-height: 180%;
    font-weight: 400;
    font-size: 16px;
    color: rgb(68, 47, 58);
    margin: 0px;
    text-align: left;
}
.sec19p a{
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}
.sec19h2{
    display: flex;
    flex-direction: row;
    align-items: center;    font-style: normal;
    line-height: 160%;
    font-weight: 700;
    font-size: 17px;
    color: rgb(68, 47, 58);
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin: 15px 0;
}
.sec20{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sec20a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}
.sec20img{
    width: 40px;
    height: 40px;
}
iframe{
    width: 100%;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}
.footer{
    display: flex;
    margin-top: 50px;
}
.footerh4{
    color: rgb(68, 47, 58);
    display: block;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 110%;
    margin-bottom: 24px;
    margin-left: 110px;
    text-align: left;
}
.footer_icon{
    display: block;
    margin-left:100px;
}
.footer_icon i{
    display: inline-block;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
}
.footer_list{
    width: 170px;
    margin-top: 25px;
}
.footer_list p{
    color: rgb(68, 47, 58);
    display: block;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 110%;
    margin-bottom: 24px;
    text-align: left;
}
.footer_list a{
    color: rgb(119, 119, 119);
    display: block;
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    font-size: 15px;
    text-align: left;
    margin-bottom: 12px;
    cursor: pointer;
}
.download{
    margin: 40px 0px;
    margin-left: 646px;
}
.download p{
    color: rgb(68, 47, 58);
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 110%;
    margin-bottom: 24px;
    text-align: left;
}
.img1{
    background-image: url(https://www.theshineapp.com/static/media/apple-store-badge-with-border.e2593564.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 56px;
    width: 182px;
    margin-right: 32px;
    cursor: pointer;
}
.img2{
    background-image: url(https://www.theshineapp.com/static/media/google-play-badge.6a248cbe.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 56px;
    width: 182px;
    margin-right: 32px;
    cursor: pointer;
}
hr{
    border: 1px solid rgb(242, 237, 240);
    width: 85%;
}
.footer_copy{
    display: block;
    color: rgb(119, 119, 119);
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}